@import "tailwindcss";

.currentpage {
  @apply bg-indigo-300;
}
.btn-text-space {
  padding: 20px;
}
.multi-step {
  padding: 10px;
}

.width {
  width: 100%;
}
.header {
  margin-top: -60px;
}
.monyear {
  transform: translateX(20px);
}
.btn-cont {
  margin: auto;
}
.right-section5 {
  width: 400px;
}

.textofmonyear {
  @apply text-blue-800;
}
.selectedPlan,
.selectedAdds {
  @apply bg-blue-200;
}
/* @media (max-width: 600px) {
  .multi-step {
    flex-direction: column;
    background-color: red;
    }
    } */

@media (max-width: 640px) {
  body {
    display: block;
  }
  .multi-step {
    flex-direction: column;
    width: 450px;
    padding: 0;
    width: 100%;
  }
  .left-section {
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
    height: 180px;
    background-position: bottom;
    /* margin: 0; */
  }
  .texts {
    display: none;
  }
  .btn-text-space {
    padding: 0;
    margin: auto;
  }
  .right-section-content {
    background-color: white;
    border-radius: 30px;
    position: absolute;
    min-height: 430px;
    top: 130px;
    width: 90%;
    padding-bottom: 10px;
    justify-content: center;
  }
  .form {
    text-align: center;
  }
  .plans {
    flex-direction: column;
    width: 100%;
  }
  .plan {
    width: inherit;
    display: flex;
    gap: 30px;
  }
  .header {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .btn {
    transform: scale(1.3);
  }
  .left-section-insider {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
  }
  .right-section2 {
    padding: 20px;
  }
  .right-section5 {
    width: 80%;
    margin: auto;
    height: 360px;
  }
}
